.page-header
  h1 Альбомы

.row
  .span16
    - @albums.each do |album|
      .album
        h3 = album.title
        ul
          - album.images.each do |image|
            = image_tag(image.image_url(:small))


    
