.page-header
  h1 Web::Admin::Welcome#index

.row
  .span8
    ul
      - @images.each do |image|
        li = link_to image_tag(image.image_url(:small)), edit_admin_image_path(image)
  .span8
    ul
      - @albums.each do |album|
        li = link_to album.title, edit_admin_album_path(album)
      
