= form_for @web_admin_album, url: admin_album_path(@web_admin_album) do |f|
  = render 'web/admin/application/error_messages', :errors => @web_admin_album.errors

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
