h1 Listing web_admin_albums

table
  tr
    th Title
    th Description
    th State
    th
    th
    th

  - @web_admin_albums.each do |web_admin_album|
    tr
      td= web_admin_album.title
      td= web_admin_album.description
      td= web_admin_album.state
      td= link_to 'Show', admin_album_path(web_admin_album)
      td= link_to 'Edit', edit_admin_album_path(web_admin_album)
      td= link_to 'Destroy', admin_album_path(web_admin_album), :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Album', new_admin_album_path
