p#notice = notice

p
  b Title:
  = @web_admin_album.title
p
  b Description:
  = @web_admin_album.description
p
  b State:
  = @web_admin_album.state

= link_to 'Edit', edit_admin_album_path(@web_admin_album)
'|
= link_to 'Back', admin_albums_path
