= form_for @image, url: admin_image_path(@image) do |f|
  .field
    = f.label :album_id
    = f.select :album_id, albums_options  
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .image
    = image_tag @image.image_url(:small)
  .field
    = f.label :image
    = f.file_field :image
  .actions
    = f.submit 'Save'
