h1 Web::Admin::Image#index

.images
  - @images.each do |image|
    div
      h4 = link_to image.title, edit_admin_image_path(image)
      p = image.description
      p = link_to image_tag(image.image_url(:small)), edit_admin_image_path(image)